.subTweet {
    color: $white;

    .tweetContent {
        cursor: pointer;
    }
    
    .profile {
        display: flex;

        .avatar {
            width: 25%;
            height: 95px;
            margin: 25px 5px 0 10px;
            background: no-repeat center $yellow;
            img{
                width: 90%;
                height: auto;
                margin-left: 2px;
            }
        }
        .userDetail::after {
            top: 85px;
        } 
        p:last-child {
            border-bottom: 1px solid purple;
            width: 80%;
            margin-bottom: 2px;
            padding-bottom: 12px;
        }   
    }
    
    .tweetContent {
        min-height: 70px;
        height: auto;
        padding: 15px;
        width: 80%;
        margin: auto;
        font-size: 14px;
    }
    
    .backword {
        width: 90%;
        margin: auto;
        border-bottom: 1px solid $yellow;
        .arrowText {
            padding: 20px 0;
            color: $yellow;
        }
        img {
            margin-right: 15px;
        }
    }
    .like_share {
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-evenly;
        padding: 10px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }
    .commentTitle {
        padding: 20px;
    }
}

.comments {
    .comment {
            color: white;
            border-bottom: 1px solid #ccc;
            width: 90%;
            margin: auto;

        .profile {
                display: flex;
                min-height: 80px;
                height: auto;
                .avatar {
                    width: 16%;
                    height: 55px;
                    margin: 22px 0 10px;
                    background: no-repeat center #FAFF00;

                    img {
                        width: 86%;
                        margin-left: 3px;
                    }
                }
                p {
                    display: inline;
                    margin: 0;
                    font-size: $m-size;
                    &:first-child{ 
                        width: auto;
                        font-size: $s-size;
                        border-bottom: 1px solid purple;
                        margin-left: 10px;
                    }    
                   &:last-child{
                       width: auto;
                       font-size: $xs-size;
                       border-bottom: 1px solid purple;
                       margin-top: 3px;
                    }
                }
        
                .userDetail {
                    margin: 20px 0;
                    width: unset;
                    
                    &::after {
                        top: 47px;
                        left: 10px;
                    }
                }
        }
        .commentText {
            height: auto;
            min-height: 70px;
        }
    }
}
