.polygon6 {
    position: absolute;
    width: 224.69px;
    height: 211.28px;
    left: 43.33px;
    top: -125px;
    background: #FAFF00;
    transform: rotate(41.26deg);
}

.polygon5 {
    position: absolute;
    width: 81px;
    height: 81px;
    left: 271.41px;
    top: 835px;
    background: rgba(250, 255, 0, 0.8);
    transform: rotate(41.26deg);
}

.polygon4 {
    position: absolute;
    width: 298.1px;
    height: 313.16px;
    left: -99.49px;
    top: -211px;
    background: #DD00F0;
    transform: rotate(41.26deg);
}

.polygon2 {
    position: absolute;
    width: 81px;
    height: 81px;
    left: 0.41px;
    top: 688px;
    background: rgba(221, 0, 240, 0.8);
    transform: rotate(41.26deg);
}

.polygon1 {
    position: absolute;
    width: 79px;
    height: 206px;
    left: 410.41px;
    top: 448px;
    background: rgba(221, 0, 240, 0.8);
    transform: rotate(64.26deg);
}

.login_img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    
}