
.polygon6 {
    position: absolute;
    width: 224.69px;
    height: 211.28px;
    left: 43.33px;
    top: -125px;
    background: $yellow;
    transform: rotate(41.26deg);
}

.polygon5 {
    position: absolute;
    width: 81px;
    height: 81px;
    left: 224.41px;
    bottom: -43px;
    background: $yellow;
    transform: rotate(41.26deg);
}

.polygon4 {
    position: absolute;
    width: 284.1px;
    height: 250.16px;
    left: -143.49px;
    top: -211px;
    background: $purple;
    transform: rotate(27.26deg);
}

.polygon3 {
    position: absolute;
    right: 10px;
    top: 73.35px;
    transform: rotate(114.31deg);
}

.polygon2 {
    position: absolute;
    width: 85px;
    height: 78px;
    left: -49.59px;
    top: 520px;
    background: $purple;
    transform: rotate(46.26deg);
}

.polygon1 {
    position: absolute;
    width: 56px;
    height: 222px;
    // left: 416.41px; */
    right: -95px;
    top: 400px;
    background: $purple;
    transform: rotate(51.26deg);
}

.polygonImg {
    img {
        position: absolute;
        left: 24px;
        top: -52px;
    }
}

.login_img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}