//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
//@import '../images/TopBackground.svg';
//@import '../images/sitting4.png';

.contentBg {
    background-color: $white;
}

.userInfo {
    color:$white;
    display: flex;
    width: 100%;
    height: 272px;
    background: no-repeat center url('../images/TopBackground.svg');
    background-size: cover;
}

.avatar {
    width: 26%;
    height: 95px;
    margin: 40px 5px 0 10px;
    border-radius: 50%;
    background: no-repeat center url('../images/camera.png') $yellow;

    input {
        width: 90%;
        margin: 7px 0 0 5px;
        min-height: 90%;
        min-width: 90%;
        opacity: 0;
        cursor: pointer;
    }
}
.userDetail {
    display: flex;
    flex-wrap: wrap;
    width: 72%;
    height: 30%;
    font-family: 'Roboto', sans-serif;
    margin: 40px 5px;
    font-weight: 100;

    p {
        padding: 6px 8px 15px;
        font-family: 'Roboto:ital', sans-serif;
    }
    p:first-child {
        width: 100%;
        font-size: $m-size;
        font-style: initial;
    }
    p:nth-child(2),p:nth-child(3) {
        margin: -10px 0;
        font-style: italic;
    }
    p:nth-child(4),p:nth-child(5) {
        margin: 20px 0;
        border-bottom: 1px solid purple;
        width: 40%;
        position: relative;
        font-size: $xs-size;
    }
    &::after {
        content: '';
        padding: 0.2px;
        width: 46%;
        background: $white;
        position: absolute;
        top: 177px;
    }
}
// ============= TWEETS ==============================
.tweet {
    width: 80%;
    height: auto;
    margin: 15px auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    
    .user_data {
        background-color: #FAFF00;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .tweetContent {
        min-height: 70px;
        height: auto;
        padding: 15px;
    }
    .like_share {
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: space-evenly;
        padding: 10px;
        border-top: 1px solid #ccc;
    }

}