form {
    background-color:transparent;
    width: 70%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    input {
        background: transparent;
        height: 10%;
        width: 70%;
        padding: 5px;
        border: none;
        border-bottom: 1px solid $yellow;
        margin-bottom: 7px;
        color: #fff;
        font-size: $s-size;
    }
    ::placeholder {
        font-family: Roboto;
        font-style: italic;
        line-height: 16px;
        color: rgba(221, 221, 221, 0.5);
    }

    .loginBtn {
        display: block;
        margin: 10px auto;
        background:$yellow;
        border-radius: 5px;
        padding: 5px 10px;
        font-weight: 700;
        font-size: $s-size;
    }
}